<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.autodealer.crm.modules.commerce.promotion.persistence.mapper.TProductPromotionUsageMapper">
    <insert id="insert" parameterType="com.autodealer.crm.modules.commerce.promotion.application.api.model.TProductPromotionUsage" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_product_promotion_usage (
            promotion_id, source_type, source_id, discount_amount, create_time, create_by
        ) VALUES (
            #{promotionId}, #{sourceType}, #{sourceId}, #{discountAmount}, #{createTime}, #{createBy}
        )
    </insert>
</mapper>
