<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.autodealer.crm.modules.identity.persistence.mapper.TAuthorizationGraphLockMapper">
  <select id="lockByName" resultType="string">SELECT lock_name FROM t_authorization_graph_lock WHERE lock_name=#{lockName} FOR UPDATE</select>
</mapper>
