<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bjpowernode.mapper.TSystemMapper">
    
    <resultMap id="BaseResultMap" type="com.bjpowernode.model.TSystem">
        <id column="id" property="id"/>
        <result column="system_code" property="systemCode"/>
        <result column="name" property="name"/>
        <result column="site" property="site"/>
        <result column="logo" property="logo"/>
        <result column="title" property="title"/>
        <result column="description" property="description"/>
        <result column="keywords" property="keywords"/>
        <result column="shortcuticon" property="shortcuticon"/>
        <result column="tel" property="tel"/>
        <result column="weixin" property="weixin"/>
        <result column="email" property="email"/>
        <result column="address" property="address"/>
        <result column="version" property="version"/>        <result column="closeMsg" property="closeMsg"/>
        <result column="isopen" property="isopen"/>
        <result column="create_time" property="createTime"/>
        <result column="create_by" property="createBy"/>
        <result column="edit_time" property="editTime"/>
        <result column="edit_by" property="editBy"/>
    </resultMap>    <sql id="Base_Column_List">
        id, system_code, name, site, logo, title, description, keywords, shortcuticon, tel,
        weixin, email, address, version, closeMsg, isopen, create_time, create_by, edit_time, edit_by
    </sql>

    <select id="selectAll" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM t_system_info
    </select>

    <select id="selectById" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM t_system_info
        WHERE id = #{id}
    </select>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM t_system_info
        WHERE id = #{id}
    </select>

    <insert id="insert" parameterType="com.bjpowernode.model.TSystem">
        INSERT INTO t_system_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="systemCode != null">system_code,</if>
            <if test="name != null">name,</if>
            <if test="site != null">site,</if>
            <if test="logo != null">logo,</if>
            <if test="title != null">title,</if>
            <if test="description != null">description,</if>
            <if test="keywords != null">keywords,</if>
            <if test="shortcuticon != null">shortcuticon,</if>
            <if test="tel != null">tel,</if>
            <if test="weixin != null">weixin,</if>
            <if test="email != null">email,</if>
            <if test="address != null">address,</if>
            <if test="version != null">version,</if>            <if test="closeMsg != null">closeMsg,</if>
            <if test="isopen != null">isopen,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="editTime != null">edit_time,</if>
            <if test="editBy != null">edit_by,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="systemCode != null">#{systemCode},</if>
            <if test="name != null">#{name},</if>
            <if test="site != null">#{site},</if>
            <if test="logo != null">#{logo},</if>
            <if test="title != null">#{title},</if>
            <if test="description != null">#{description},</if>
            <if test="keywords != null">#{keywords},</if>
            <if test="shortcuticon != null">#{shortcuticon},</if>
            <if test="tel != null">#{tel},</if>
            <if test="weixin != null">#{weixin},</if>
            <if test="email != null">#{email},</if>
            <if test="address != null">#{address},</if>
            <if test="version != null">#{version},</if>
            <if test="closeMsg != null">#{closeMsg},</if>
            <if test="isopen != null">#{isopen},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="editTime != null">#{editTime},</if>
            <if test="editBy != null">#{editBy},</if>
        </trim>
    </insert>

    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.bjpowernode.model.TSystem" useGeneratedKeys="true">
        INSERT INTO t_system_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="systemCode != null">system_code,</if>
            <if test="name != null">name,</if>
            <if test="site != null">site,</if>
            <if test="logo != null">logo,</if>
            <if test="title != null">title,</if>
            <if test="description != null">description,</if>
            <if test="keywords != null">keywords,</if>
            <if test="shortcuticon != null">shortcuticon,</if>
            <if test="tel != null">tel,</if>
            <if test="weixin != null">weixin,</if>
            <if test="email != null">email,</if>
            <if test="address != null">address,</if>
            <if test="version != null">version,</if>
            <if test="closeMsg != null">closeMsg,</if>
            <if test="isopen != null">isopen,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="editTime != null">edit_time,</if>
            <if test="editBy != null">edit_by,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="systemCode != null">#{systemCode},</if>
            <if test="name != null">#{name},</if>
            <if test="site != null">#{site},</if>
            <if test="logo != null">#{logo},</if>
            <if test="title != null">#{title},</if>
            <if test="description != null">#{description},</if>
            <if test="keywords != null">#{keywords},</if>
            <if test="shortcuticon != null">#{shortcuticon},</if>
            <if test="tel != null">#{tel},</if>
            <if test="weixin != null">#{weixin},</if>
            <if test="email != null">#{email},</if>
            <if test="address != null">#{address},</if>
            <if test="version != null">#{version},</if>
            <if test="closeMsg != null">#{closeMsg},</if>
            <if test="isopen != null">#{isopen},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="editTime != null">#{editTime},</if>
            <if test="editBy != null">#{editBy},</if>
        </trim>
    </insert>

    <update id="update" parameterType="com.bjpowernode.model.TSystem">
        UPDATE t_system_info
        <set>
            <if test="systemCode != null">system_code = #{systemCode},</if>
            <if test="name != null">name = #{name},</if>
            <if test="site != null">site = #{site},</if>
            <if test="logo != null">logo = #{logo},</if>
            <if test="title != null">title = #{title},</if>
            <if test="description != null">description = #{description},</if>
            <if test="keywords != null">keywords = #{keywords},</if>
            <if test="shortcuticon != null">shortcuticon = #{shortcuticon},</if>
            <if test="tel != null">tel = #{tel},</if>
            <if test="weixin != null">weixin = #{weixin},</if>
            <if test="email != null">email = #{email},</if>
            <if test="address != null">address = #{address},</if>
            <if test="version != null">version = #{version},</if>            <if test="closeMsg != null">closeMsg = #{closeMsg},</if>
            <if test="isopen != null">isopen = #{isopen},</if>
            <if test="editTime != null">edit_time = #{editTime},</if>
            <if test="editBy != null">edit_by = #{editBy},</if>
        </set>
        WHERE id = #{id}
    </update>

    <update id="updateByPrimaryKeySelective" parameterType="com.bjpowernode.model.TSystem">
        UPDATE t_system_info
        <set>
            <if test="systemCode != null">system_code = #{systemCode},</if>
            <if test="name != null">name = #{name},</if>
            <if test="site != null">site = #{site},</if>
            <if test="logo != null">logo = #{logo},</if>
            <if test="title != null">title = #{title},</if>
            <if test="description != null">description = #{description},</if>
            <if test="keywords != null">keywords = #{keywords},</if>
            <if test="shortcuticon != null">shortcuticon = #{shortcuticon},</if>
            <if test="tel != null">tel = #{tel},</if>
            <if test="weixin != null">weixin = #{weixin},</if>
            <if test="email != null">email = #{email},</if>
            <if test="address != null">address = #{address},</if>
            <if test="version != null">version = #{version},</if>
            <if test="closeMsg != null">closeMsg = #{closeMsg},</if>
            <if test="isopen != null">isopen = #{isopen},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="editTime != null">edit_time = #{editTime},</if>
            <if test="editBy != null">edit_by = #{editBy},</if>
        </set>
        WHERE id = #{id}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.bjpowernode.model.TSystem">
        UPDATE t_system_info
        SET system_code = #{systemCode},
            name = #{name},
            site = #{site},
            logo = #{logo},
            title = #{title},
            description = #{description},
            keywords = #{keywords},
            shortcuticon = #{shortcuticon},
            tel = #{tel},
            weixin = #{weixin},
            email = #{email},
            address = #{address},
            version = #{version},
            closeMsg = #{closeMsg},
            isopen = #{isopen},
            create_time = #{createTime},
            create_by = #{createBy},
            edit_time = #{editTime},
            edit_by = #{editBy}
        WHERE id = #{id}
    </update>

    <delete id="deleteById">
        DELETE FROM t_system_info WHERE id = #{id}
    </delete>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        DELETE FROM t_system_info WHERE id = #{id}
    </delete>

    <delete id="batchDelete">
        DELETE FROM t_system_info WHERE id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <update id="updateStatus">
        UPDATE t_system_info
        SET isopen = #{isopen}
        WHERE id = #{id}
    </update>
</mapper>
