<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.autodealer.crm.mapper.TRoleOrganizationMapper">
  <select id="selectByRoleId" resultType="com.autodealer.crm.model.TRoleOrganization">
    SELECT role_id, organization_unit_id FROM t_role_organization WHERE role_id=#{roleId} ORDER BY organization_unit_id
  </select>
  <insert id="insert">INSERT INTO t_role_organization(role_id, organization_unit_id) VALUES(#{roleId},#{organizationUnitId})</insert>
  <delete id="deleteByRoleId">DELETE FROM t_role_organization WHERE role_id=#{roleId}</delete>
</mapper>
