<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.autodealer.crm.mapper.TRolePermissionMapper">
    <resultMap id="BaseResultMap" type="com.autodealer.crm.model.TRolePermission">
        <id column="role_id" property="roleId"/>
        <id column="permission_id" property="permissionId"/>
        <result column="delegable" property="delegable"/>
        <result column="data_scope_code" property="dataScopeCode"/>
    </resultMap>

    <insert id="insert" parameterType="com.autodealer.crm.model.TRolePermission">
        INSERT INTO t_role_permission (role_id, permission_id, delegable, data_scope_code)
        VALUES (#{roleId}, #{permissionId}, #{delegable}, #{dataScopeCode})
    </insert>

    <select id="selectByRoleId" resultMap="BaseResultMap">
        SELECT role_id, permission_id, delegable, data_scope_code
        FROM t_role_permission
        WHERE role_id = #{roleId}
        ORDER BY permission_id
    </select>
    <delete id="deleteByRoleId">DELETE FROM t_role_permission WHERE role_id = #{roleId}</delete>
    <update id="updateDataScopeByRoleId">UPDATE t_role_permission SET data_scope_code=#{dataScopeCode} WHERE role_id=#{roleId}</update>
</mapper>
