<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.autodealer.crm.mapper.TTranApproveMapper">

  <resultMap id="BaseResultMap" type="com.autodealer.crm.model.TTranApprove">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="tran_id" jdbcType="INTEGER" property="tranId" />
    <result column="approve_result" jdbcType="TINYINT" property="approveResult" />
    <result column="approve_comment" jdbcType="VARCHAR" property="approveComment" />
    <result column="approve_time" jdbcType="TIMESTAMP" property="approveTime" />
    <result column="approve_by" jdbcType="INTEGER" property="approveBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_by" jdbcType="INTEGER" property="createBy" />
  </resultMap>

  <sql id="Base_Column_List">
    id, tran_id, approve_result, approve_comment, approve_time, approve_by, create_time, create_by
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_tran_approve
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <select id="selectByTranId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_tran_approve
    where tran_id = #{tranId,jdbcType=INTEGER}
    ORDER BY id DESC LIMIT 1
  </select>

  <insert id="insert" parameterType="com.autodealer.crm.model.TTranApprove">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_tran_approve (tran_id, approve_result, approve_comment, 
      approve_time, approve_by, create_time, 
      create_by)
    values (#{tranId,jdbcType=INTEGER}, #{approveResult,jdbcType=TINYINT}, #{approveComment,jdbcType=VARCHAR}, 
      #{approveTime,jdbcType=TIMESTAMP}, #{approveBy,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{createBy,jdbcType=INTEGER})
  </insert>

  <insert id="insertSelective" parameterType="com.autodealer.crm.model.TTranApprove">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_tran_approve
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="tranId != null">
        tran_id,
      </if>
      <if test="approveResult != null">
        approve_result,
      </if>
      <if test="approveComment != null">
        approve_comment,
      </if>
      <if test="approveTime != null">
        approve_time,
      </if>
      <if test="approveBy != null">
        approve_by,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="tranId != null">
        #{tranId,jdbcType=INTEGER},
      </if>
      <if test="approveResult != null">
        #{approveResult,jdbcType=TINYINT},
      </if>
      <if test="approveComment != null">
        #{approveComment,jdbcType=VARCHAR},
      </if>
      <if test="approveTime != null">
        #{approveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="approveBy != null">
        #{approveBy,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.autodealer.crm.model.TTranApprove">
    update t_tran_approve
    <set>
      <if test="tranId != null">
        tran_id = #{tranId,jdbcType=INTEGER},
      </if>
      <if test="approveResult != null">
        approve_result = #{approveResult,jdbcType=TINYINT},
      </if>
      <if test="approveComment != null">
        approve_comment = #{approveComment,jdbcType=VARCHAR},
      </if>
      <if test="approveTime != null">
        approve_time = #{approveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="approveBy != null">
        approve_by = #{approveBy,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.autodealer.crm.model.TTranApprove">
    update t_tran_approve
    set tran_id = #{tranId,jdbcType=INTEGER},
      approve_result = #{approveResult,jdbcType=TINYINT},
      approve_comment = #{approveComment,jdbcType=VARCHAR},
      approve_time = #{approveTime,jdbcType=TIMESTAMP},
      approve_by = #{approveBy,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <delete id="deleteByTranId" parameterType="java.lang.Integer">
    delete from t_tran_approve
    where tran_id = #{tranId,jdbcType=INTEGER}
  </delete>

</mapper> 